<div id="<%= dom_id artist %>">
  <p>
    <strong>Pseudonym:</strong>
    <%= artist.pseudonym %>
  </p>

  <section >
    <strong>Image:</strong>

      <%= image_tag artist.image, class: "img" %>
  </section>

  <p >
    <strong>Description:</strong>
    <%= artist.description %>
  </p>

</div>
