<div id="<%= dom_id artist %>">
  <p>
    <strong>Pseudonym:</strong>
    <%= artist.pseudonym %>
  </p>

  <section >
    <strong>Image:</strong>
    <div class="img">
      <%= image_tag artist.image %>
    </div>
  </section>

  <p >
    <strong>Description:</strong>
    <%= artist.description %>
  </p>

</div>
