<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div id="artists">
  <% @artists.each do |artist| %>
    <%= render artist %>
    <p>
      <%= link_to "Show this artist", artist %>
    </p>
  <% end %>
</div>
